html, body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 18px;
	background-size:100% 100%; 
	height:100%;
	background: #8BC34A;
	background: -moz-linear-gradient(bottom, #DCEDC8 0%, #689F38 100%);
	background: -webkit-linear-gradient(bottom, #DCEDC8 0%,#689F38 100%);
	background: linear-gradient(to top, #DCEDC8 0%,#689F38 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCEDC8', endColorstr='#689F38',GradientType=0 );
}

a{
	text-decoration: none;
	color: white;
}

.row-col-form form span {
	border-bottom: 1px solid #b6b6b6;
	text-align: left;
	display: block;
	font-size: 18px;
}

.page_wrapper{
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media only screen and (min-width: 801px){
	.grid-row{
		display: table;
		table-layout: fixed;
		width: 1100px;
		border: 0px solid gray;
		border-top: 1px solid #eff1f2;
	}
}

@media only screen and (min-width: 801px){
	.grid-row-col{
		display: table-cell;
		width: 50%;
	}
}

.circle_step{
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #8BC34A;
	text-align: center;
	color: white;
	margin-right: 10px;
	vertical-align: middle;
}

.grid{
	max-width: 1100px;
	margin: 0 auto;
}


.grid-wrap:nth-child(odd){
	background: #DCEDC8;
}

.grid-row-col{
	vertical-align: middle;
	position: relative;
	padding: 4.6875rem 0rem;
}

.--image{
	padding: 0;
	padding-top: 4rem;
	min-height: 500px;
	vertical-align: top;
}

.grid-row-inner{
	min-height: 250px;
}

.grid-row-inner h2{
	color: #272727;
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.grid-row-inner p{
	color: #727272;
	padding: 0.375rem 0rem;
}

.grid-row-inner a{
	position: relative;
	font-weight: 300;
	color: #2196F3;
	cursor: pointer;
}

.grid-row-inner>div{
	position: relative;
}

label[for="nav-trigger"] {
	display: none;
}

.nav-trigger {
	display: none;
}

.navigation {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}

.header{
	background: transparent;
	height: 63px;
}

.nav-wrap{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0;
	line-height: 63px;
	color: white;
}

.nav-logo{
	float: left;
	line-height: 63px;
	padding-left: 2rem;
}

.nav-ul{
	text-align: right;
}

.nav-ul li{
	display: inline-block;
	padding:0rem 0.675rem;
}

.site-wrap{
}

.mob-nav-wrap{
	display: none;
}

.main-block-container{
	max-width: 1100px;
	margin: 0 auto;
}

.pad-top{
	padding-top: 2rem;
}

.pad-top-2x{
	padding-top: 4rem;
}

.pad-top-3x{
	padding-top: 6rem;
}

.pad-bot{
	padding-bottom: 2rem;
}

.pad-bot-2x{
	padding-bottom: 4rem;
}

.pad-top-col{
	padding-top: 0.875rem;
}

.pad-bot-col{
	padding-bottom: 0.875rem;
}

.center{
	text-align: center;
}

.main-block-title{
	font-size: 3rem;
	color: white;
	font-weight: 400;
}

.main-block-title-black{
	font-size: 1.5rem;
	color: #212121;
	font-weight: 400;
}

.main-block-text{
	font-size: 1.64rem;
	font-weight: 300;
	color: white;
}

.hero{
	min-height: 600px;
}

.white-wrap{
	background: white;
}

.main-block-img{

}

.main-block-img img{
	width: 50%;
}

.main-block-button a{
	background: transparent;
	width: 300px;
	height: 200px;
	padding: 1rem;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 400;
	color: white;
	border: 1px solid white;
}

.main-block-button a:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background: white;
	color: #212121;
}

.main-block-row{
}

.main-block-row-form{
	text-align: left;
}

.main-block-colh {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.main-block-col{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

.main-block-contact input[type=submit]{
	width: 20%;
	margin-top: 1.5rem;
}

.main-block-col-form{
	display: inline-block;
	vertical-align: top;
	padding-left:6rem;
	padding-right:6rem;
}

.main-block-col-bl{
	display: inline-block;
	width: 28%;
	vertical-align: top;
	padding-left: 1rem;
	padding-right: 1rem;
}

.row-col-icon{
	color: #8BC34A;
}

.row-col-title{
	font-size: 1.64rem;
	line-height: 110%;
	font-weight: 300;
}

.row-col-title-bl{
	font-size: 1.64rem;
	line-height: 110%;
	font-weight: 300;
	border-radius: 3px;
	background: #8BC34A;
	padding-top: 0.675rem;
	padding-bottom: 0.675rem;
	color: white;
}

.row-col-text{
	font-weight: 300;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	font-size: 14px;
}

.row-col-form{
	font-weight: 300;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	font-size: 14px;
}

.row-col-text-bl{
	font-weight: 300;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	font-size: 14px;
	border-radius: 3px;
}

.row-col-link a{
	font-weight: 300;
	color: #2196F3;
}

.row-col-link-bl a{
	font-weight: 300;
	color: #2196F3;
	font-size: 14px;
	cursor: pointer;
	padding-top: 1rem;
}

@media screen and (max-width: 960px){

.pad-top-3x{
	padding: 0;
}

.main-block-col-bl{
	display: block;
	width: 85%;
	padding: 0;
	padding-bottom: 1rem;
	margin: 0 auto;
}

.--image{
	padding-top: 0;
	min-height: 0px;
}

.--image img{
	width: 100%;
}

.grid-row-col{
	display: block;
	padding: 0rem 0.375rem;
}

.main-block-container{
	max-width: 100%;
}

html, body{
	background: #1976d2;
}

.main-block-img {
	width: 50%;
	margin: 0 auto;
}

.main-block-colh{
	display: block;
	width: 100%;
	padding-top: 0.5rem;
}

.main-block-col{
	display: block;
	width: 80%;
	vertical-align: top;
	padding-top: 3rem;
	margin: 0 auto;
}

.nav-wrap{
	display: none;
}

.mob-nav-wrap{
	display: block;
}
/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
  display: block;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: transparent; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */

}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
  display: block;

}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  display: block;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

}

.main-block-container-prefix{
	max-width: 920px;
	margin:0 auto;
	background: #f5f5f5;
	transform: translateY(-125px);
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	text-align: center;
}

.main-block-container-prefix input{
	padding: 0.875rem 0.375rem;
	margin: 0.675rem 0rem;
	width: 45%;
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	font-size: 16px;
	display: inline-block;
}

.form-marg{
	margin-left: 2rem !IMPORTANT;
}


.mini{
	font-size: 12px;
	margin: 0 !IMPORTANT;
	padding: 0;
	width: auto !IMPORTANT;
}

form span:nth-child(1n+2){
	padding-top: 2rem;
}

form p{
	display: inline-block;
	width: 45%;
	padding-top: 0.375rem;
}

input[type=checkbox]{
	width: 5.5%;
	display: inline-block;
}

input[type=radio]{
	width: 5.5%;
	display: inline-block;
}

input[type=submit]{
	cursor: pointer;
}

input[type=submit]:hover{
	background: #8BC34A;
	color: white;
}

form p:nth-child(even){
	margin-left: 2rem;
}

form textarea{
	padding: 0.875rem 0.375rem;
	margin: 0.675rem 0rem;
	width: 100%;
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	font-size: 16px;
	display: inline-block;
	resize: vertical;
}

.wrapper-drowpdown-3>span{
	padding-top: 0.375rem !IMPORTANT;
}

.form-persons-amount{
	padding: 0.475rem 0.375rem !IMPORTANT;
	margin: 0.675rem 0rem;
	width: 10% !IMPORTANT;
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	font-size: 16px;
	display: inline-block;
}

.form-persons{
	display: none;
	transition: all 0.2s ease-in-out;
}

.form-bagw{
	display: none;
	transition: all 0.2s ease-in-out;
}

.form-bagw span{
	padding-top: 2rem;
}

.main-block-container-prefix input:focus{
	border: 1px solid #8BC34A;
}

.footer{
	border-top: 1px solid rgba(0,0,0,0.20);
}

.footer-col ul{
	margin: 0;
	padding: 0;
	list-style: none;
	color: rgba(0,0,0,0.45);
	font-weight: lighter;
}

.footer-col li{
	cursor: pointer;
}

.footer-row{
	margin: 0 auto;
}

.footer-col{
	display: inline-block;
	padding: 1rem 2rem;
	vertical-align: top;
}

.footer-col h4{
	font-weight: lighter;
}

.footer-row p{
	font-size: 14px;
	color: rgba(0,0,0,0.45);
}

table{
	border: none;
	border-spacing: 0;
}

tr:nth-child(odd){
	background: #DCEDC8;
}

th{
	padding-top: 1rem;
	color: #212121;
	text-align: left;
	background: white;
	padding: 0.875rem 0.375rem;
}

td{
	width: 300px;
	font-size: 14px;
	color: #727272;
	padding: 0.875rem 0.375rem;
}

.excep th{
	padding-top: 1rem;
	color: #212121;
	text-align: left;
	background: #DCEDC8;
	padding: 0.875rem 0.375rem;
}

.excep tr:nth-child(odd){
	background: white;
}

@media screen and (max-width: 960px){

.form-marg{
	margin-left: 0 !IMPORTANT;
}

.main-block-container-prefix input {
    padding: 0.875rem 0.375rem;
    margin: 0.675rem 0rem;
    width: 90%;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    font-size: 16px;
}

.main-block-col-form{
	padding: 0rem 0.375rem;
	width: 100%;
}

input[type=checkbox]{
	width: 5.5%;
	display: inline-block;
}

input[type=radio]{
	width: 5.5%;
	display: inline-block;
}

input[type=submit]{
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover{
	background: #1976d2;
	color: white;
}

.wrapper-dropdown-3 {
	width: 90% !IMPORTANT;
}

}

.contact-ul{
	list-style: none;
}

.main-cont h2{
	margin-bottom: 10px;
}

.contact-ul li{
	padding: 30px 0px 0px 10px;
}

.main-block-row-inv{
	width: 100%;
	padding-top: 1rem;
}

.main-block-row-inv table{
	width: 100%;
}

.main-block-row-inv tr{
	width: 100%;
}

.main-block-row-inv td{
	width: 50%;
}

.contact-ul-foot li{
	padding: 20px 0px 0px 50px;
}

.marg-bot-0{
	margin-bottom: 0;
}

.contact-tel:before,.contact-mail:before{
	content:'';
	width:34px;
	position: absolute;
	height:34px;
	border-radius:50%;
	margin-left: -50px;
	margin-top: -5px;
}

.contact-tel:before{
	background:url(img/tel.svg) center center no-repeat #8BC34A;
	background-size:20px 20px
}
.contact-mail:before{
	background:url(img/mail.svg) center center no-repeat #8BC34A;
	background-size:20px 20px;
}

.contact-mail, .contact-tel{
	font-weight: bold;
	font-size: 15px;
}

.main-block-contact{
	color: #272727;
}

.main-cont{
	color: #272727;
	padding-left: 4rem;
}

@media only screen and (min-width: 801px){
	.tile-row{
		display: table;
		table-layout: fixed;
		width: 100%;
		border: 0px solid gray;
		border-top: 1px solid #eff1f2;
	}

	.contact_form span {
		display: inline-block;
	}

	.tile-row-col{
		display: table-cell;
		width: 50%;
		position: relative;
	}

	.contact_form span{
		display: block;
		width: 45%;
		padding: 1rem 0rem;
		float: left;
	}

	.contact_form span:nth-child(2){
		float: right;	
	}

	.contact_form span:nth-child(4){
		float: right;
	}

}
/*.tile-row{
	flex-direction: column;
	display: webkit box;
	display: webkit flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
}*/

.tile-row-col{
	padding: 4.6875rem 1.5rem;
	vertical-align: middle;
	background: white;
}

.-image{
	padding: 0;
	min-height: 500px;
	height: 500px;
}

.tile-row-inner{
	max-width: 320px;
	margin: auto;
}

.tile-row-inner h2{
	color: #272727;
	font-family: roboto;
}

.tile-row-inner p{
	color: rgba(0,0,0,0.7);
	padding-bottom: 0.2rem;
}

.main-block-contact input{
    padding: 0.5rem 0.375rem;
    margin: 0.675rem 0rem;
    width: 95%;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    background: #F7F7F7;
}

.main-block-contact textarea{
	padding: 0.5rem 0.375rem;
    margin: 0.675rem 0rem;
    width: 95%;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    background: #F7F7F7;
}


/* Micro reset 
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}*/